body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:686px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:468px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1840px;
  width:32px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1840px;
  width:32px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1904px;
  width:32px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1904px;
  width:32px;
  height:45px;
  display:flex;
  opacity:0.1;
  transition:none;
  transform-origin:50% 50%;
}
#u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:516px;
  width:266px;
  height:89px;
  display:flex;
  transition:none;
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:89px;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:1364px;
  top:379px;
  width:266px;
  height:89px;
  display:flex;
  transition:none;
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:89px;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1968px;
  width:32px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1968px;
  width:32px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:478px;
  width:301px;
  height:196px;
}
#u847_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u847_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(195, 192, 190, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:145px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:16px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:56px;
  width:133px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:71px;
  width:59px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u860 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:90px;
  width:35px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:85px;
  width:14px;
  height:1px;
  display:flex;
  transition:none;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:4px;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u867 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:79px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:17px;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:148px;
  width:60px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u871 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:150px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:168px;
  width:82px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:line-through ;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:150px;
  width:48px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:line-through ;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u874 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u847_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u847_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(195, 192, 190, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u878 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:8px;
  height:8px;
  display:flex;
  transition:none;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:56px;
  width:133px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u882 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:71px;
  width:59px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u883 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:90px;
  width:35px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:85px;
  width:14px;
  height:1px;
  display:flex;
  transition:none;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:4px;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:79px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:17px;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:145px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:14px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:148px;
  width:58px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u898 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:150px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:168px;
  width:112px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:702px;
  width:301px;
  height:190px;
}
#u901_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:190px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:44px;
  background:inherit;
  background-color:rgba(223, 223, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(169, 165, 161, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:0px;
  width:145px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#6D6965;
  text-align:left;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:14px;
  width:107px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#6D6965;
  text-align:left;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
  background:inherit;
  background-color:rgba(248, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:56px;
  width:133px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:71px;
  width:59px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#2A2A29;
  line-height:20px;
}
#u912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:90px;
  width:35px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  line-height:16px;
}
#u913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:85px;
  width:14px;
  height:1px;
  display:flex;
  transition:none;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:4px;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(50, 50, 49, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:56px;
  width:84px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:79px;
  width:14px;
  height:14px;
  display:flex;
  transition:none;
}
#u921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:17px;
  height:17px;
}
#u921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:142px;
  width:57px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:18px;
  color:#2A2A29;
  text-align:left;
  line-height:20px;
}
#u923 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:144px;
  width:45px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:162px;
  width:93px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Regular", "Scto Grotesk A", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:line-through ;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:144px;
  width:49px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"SctoGroteskA-Medium", "Scto Grotesk A Medium", "Scto Grotesk A", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-decoration:line-through ;
  letter-spacing:0.25px;
  color:#504E4B;
  text-align:left;
  line-height:16px;
}
#u926 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1122px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:904px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1340px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:250px;
  width:1130px;
  height:206px;
  display:flex;
  transition:none;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:206px;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:238px;
  display:flex;
  transition:none;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:238px;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:352px;
  width:232px;
  height:116px;
  display:flex;
  transition:none;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:116px;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1562px;
  width:1129px;
  height:74px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u934 {
  position:fixed;
  left:50%;
  margin-left:-274px;
  bottom:0px;
  width:548px;
  height:78px;
  visibility:hidden;
}
#u934_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:62px;
  display:flex;
  transition:none;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:62px;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u936 {
  position:fixed;
  left:50%;
  margin-left:-274px;
  bottom:0px;
  width:548px;
  height:78px;
  visibility:hidden;
}
#u936_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:62px;
  display:flex;
  transition:none;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:62px;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
